/*-------------
 	General
-------------*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-family: 'Nanum Gothic Coding', monospace;
   	font-weight: normal;
   	font-style: normal; 
	font-size: 16px;
	color: #3a3a3a;
	background-color:#fafafa; 
}


ul, nav{
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	opacity: 0.9;
}

a:hover{
	opacity: 1;
	padding:0px 0px 5px 0px; 
	border-bottom:#c0e99f 1px dotted;
}

a.btn{
	color: #fff;
	border-radius: 4px;
	text-transform: uppercase;
	background-color: none;
	border:1px solid #ffffff;
	font-family: 'Nanum Gothic Coding', monospace;
   	font-weight: 800;
   	font-style: normal; 
	font-size: 18px;
	line-height: 26px;
	text-align: center;
}

hr{
	width: 150px;
	height: 2px;
	background-color: #ff0000;
	border: 0;
	margin-bottom: 60px;
}

section{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 100px;
}

#flat-img-1 {background-image: url(../img/image1.jpg);}
#flat-img-2 {background-image: url(../img/image2.jpeg);}
#flat-img-3 {background-image: url(../img/image3.jpg);}
#flat-img-4 {background-image: url(../img/image4.jpg);}

@media (max-width: 1000px){

	section{
		padding: 100px 50px;
	}

}

@media (max-width: 600px){

	section{
		padding: 80px 30px;
	}

}

section h3.title{
	color: #ffffff;
	text-transform: none; 
	font-family: 'Nanum Gothic Coding', monospace;
	font-weight: 600;
	font-size:50px;
	margin-bottom: 50px;
	text-align: center;
}

section p{
	max-width: 800px;
	text-align: center;
	margin-bottom: 35px;
	padding: 0 20px;
	line-height: 26px;
}

ul.grid{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


/*-------------
 	Header
-------------*/

header{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 40px 100px 52px 100px;
}

header h2{
	font-family: 'Nanum Gothic Coding', monospace;
}

header nav{
	display: flex;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

header nav li{
	margin: 0 15px;
}

header nav li:first-child{
	margin-left: 0;	
}

header nav li:last-child{
	margin-right: 0;	
}



#logo {width:100px; height:80px;}


@media (max-width: 1000px){
	header{
		padding: 20px 50px;
	}
}


@media (max-width: 700px){
	header{
		flex-direction: column;		
	}

	header h2{
		margin-bottom: 15px;
	}

}



/*----------------
 	Hero Section
----------------*/

.hero{
	position: relative;
	justify-content: center;
	min-height: 100vh;
	color: #fff;
	text-align: center;
}

.hero .background-image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-color: #fafafa;
	z-index: -1;
}

.hero .background-image:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*background-color: #414a4f;
	opacity: 0.75;*/
}

.hero h1{
	font-family:'Nanum Gothic Coding', monospace;
	font-weight: 600;
	font-size:60px;
	margin-bottom: 50px;
}

.hero p{
	font-family: 'Nanum Gothic Coding', monospace;
   	font-weight: normal;
   	font-style: normal; 
	font-size: 18px;
	line-height: 26px;
	margin-bottom: 35px;
}

.hero a.btn{
	padding: 20px 80px;
	margin-bottom: 602px; margin-top: 10px;
}

.hero a.btn:hover{
	padding: 20px 80px;
	margin-bottom: 602px; margin-top: 10px;
	background-color: #c0e99f;
	border:1px solid #c0e99f;
	color:#3db6aa; opacity: 1;
}




#heroBgr{	
	background-image: url(../img/1image.jpg);

} 


@media (max-width: 800px){

	.hero{
		min-height: 600px;
	}

	.hero h1{
		font-size: 48px; margin-bottom: 20px;
	}

	.hero h3{
		font-size: 24px;
	}
	.hero p{
		font-size: 16px; margin-bottom: 20px; line-height: 18px;
	}

	.hero a.btn, .hero a.btn:hover{
		padding: 15px 40px;
		
	}

}

@media (max-width: 600px){

#heroBgr{	
	background-image: none; background-color:#3cb0a3;
} 
.hero h1{
	font-family: 'Nanum Gothic Coding', monospace;
	font-weight: 600;
	font-size:40px;
	margin: 50px 0px;
}
	#btnReadMore {margin-bottom: 50px;}
}



/*--------------------
 	Our Work Section
---------------------*/

.our-work{
	background-color: #fafafa;
}

.our-work .grid li{
	padding: 20px;
	height: 350px;
	border-radius: 3px;

	background-clip: content-box;
	background-size: cover;
	background-position: center;
	background-color: #333;
}

.our-work .grid li.small{
	flex-basis: 40%;
}

.our-work .grid li.large{
	flex-basis: 60%;
}


@media (max-width: 1000px){

	.our-work .grid li.small,
	.our-work .grid li.large{
		flex-basis: 100%;
	}

}



/*----------------------
 	Features Section
----------------------*/

.features{
	background-color: #fbaf5d;
}

.features .grid li{
	padding: 0px 30px 30px 30px;
	flex-basis: 33%;
	text-align: center;
}

.features .grid li i{
    font-size: 50px;
    margin-bottom: 25px;
}

#yeallowBtn {color:#ffea35;}
#orangeBtn {color:#ff3000;}
#greenBtn {color:#034f27;}
#pinkBtn {color:#fb13ac;}
#redBtn {color:#fa0707;}
#blueBtn {color:#1a9edb;}

.features .grid li h4{
	color: #ffffff;
	font-family: 'Nanum Gothic Coding', monospace;
	font-weight: 600;
    font-size: 24px;
    margin-bottom: 25px;
}

.features .grid li p{
    margin: 0;
}

@media (max-width: 1000px){

	.features .grid li{
		flex-basis: 70%;
		margin-bottom: 65px;
	}

	.features .grid li:last-child{
		margin-bottom: 0;
	}

}


@media (max-width: 600px){

	.features .grid li{
		flex-basis: 100%;
	}

}



/*--------------------
 	Evolution Section
--------------------*/

.evolutions{
	background-color: #f0f2bb;
	padding-top: 0px;
	
}

.evolutions img {margin: 0px 0px 60px 0px; align-items: flex-start;}

.evolutions p{
	text-align: center;
	width: 80%;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 0;
}
.evolutions h4 {color: #378707;
	font-family: 'Patrick Hand', monospace;
	font-weight: 600;
    font-size: 24px;
    margin-bottom: 25px;}

@media (max-width: 1000px){

	.evolutions p{
		font-size: 16px;
	}
.evolutions h4 {color: #47b3a0;
	font-family: 'Nanum Gothic Coding', monospace;
	font-weight: 600;
    font-size: 20px;
    margin-bottom: 25px;}
	
}



/*---------------------
 	Contact Section
---------------------*/

.contact{
	background-color: #f69679;
}

.contact form{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	max-width: 800px;
	width: 80%;
}

.contact form input{
	padding: 15px;
	flex: 1;
	margin-right: 30px;
	font-size: 22px;
	color: #3a3a3a;
	border:#dddddd 1px solid ;
}

.contact form input[type="text"]:focus,
.contact form input[type="password"]:focus,
.contact form input[type="email"]:focus, 
.contact form select:focus, .contact form textarea:focus{
box-shadow:inset 0 0 0 2px #47b3a0;	 
 }
 

.contact form .btn{
	padding: 16px 40px;
	color: #fff;
	border-radius: 4px;
	border:0px;
	text-transform: uppercase;
	font-family: 'Patrick Hand', monospace;
   	font-weight: 800;
   	font-style: normal;
 	font-size: 18px;
	line-height: 27px;
	text-align: center;
	opacity: 1;
	background: #ec6758; /* Old browsers */
background: -moz-linear-gradient(top, #ec6758 0%, #e59055 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ec6758 0%,#e95055 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ec6758 0%,#e95055 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec6758', endColorstr='#e95055',GradientType=0 ); /* IE6-9 */
}

.contact form .btn:hover{
background: #e95055; /* Old browsers */
background: -moz-linear-gradient(top, #e95055 0%, #ec6758 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #e95055 0%,#ec6758 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #e95055 0%,#ec6758 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e95055', endColorstr='#ec6758',GradientType=0 ); /* IE6-9 */
	
}


@media (max-width: 800px){

	.contact form input{
		flex-basis: 100%;
		margin: 0 0 20px 0;
	}

}




/*-------------
 	Footer
-------------*/

footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #9e0b0f;
	background-color: #ed1c24;
	padding: 60px 0;
	
}

footer ul{
	display: flex;
	margin-bottom: 25px;
	font-size: 32px;
}

footer ul li{
	margin: 0 8px;	
}

footer ul li:first-child{
	margin-left: 0;	
}

footer ul li:last-child{
	margin-right: 0;	
}

footer p{
	text-transform: none;
	font-size: 18px;
	color:#f7f7f7;
	margin-bottom: 25px;
}

.copyright {font-size: 12px;color:#f7f7f7;}

footer p a{
	color: #ffffff; }

footer p a:hover{
	color: #bae794; padding:0px; border-bottom:none;
}

footer #socialBtn:hover {
	
	border-bottom:none;
}
@media (max-width: 700px){

	footer{
		padding: 80px 15px;
	}

}


/* -- Demo ads -- */

@media (max-width: 1200px) {
	#bsaHolder{ display:none;}
}